@import url('https://fonts.googleapis.com/css2?family=Teko:wght@700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
h1, h2, h3{
  font-family: 'Teko', sans-serif;
}
.myslider2{
  display: none;
}
@media screen and (max-width:800px){
  .myslider1{
      display: none;
  }
  .myslider2{
      display: block;
  } 
}